<div>
  书名: <%=@exercise.book.name if @exercise.book%>,
  章节: <%=@exercise.section.name if @exercise.section%><br/>
</div>
<%= render partial: 'answer', locals: {exercise: @exercise, answer: false} %>
<p>
  <%= link_to '修改', edit_exercise_path(@exercise) %>
  |
  <%= link_to '答题', answer_exercise_path(@exercise) %>
  |
  <%= link_to '返回列表', section_exercises_path(@exercise.section) %>
</p>



