<div>
书名: <%=@exercise.book.name if @exercise.book%>,
章节: <%=@exercise.section.name if @exercise.section%><br/>
类别: <%=@exercise.qtype.name if @exercise.qtype%><br/>
题型: <%=@exercise.category.name if @exercise.category%><br/>

</div>

<div>
   <%=raw simple_format h(@exercise.exercise_text.content) if @exercise.exercise_text%>
   <div><%= raw simple_format h(@exercise.title) %> </div>
   <div>
   <% if @exercise.is_multi_choice? %>
       <% @exercise.options.each_with_index do |o, i| %>
            (<%=ExerciseOption::OPTION_NUM[i]%>)<%=o.name%>
       <% end %>
   <% end %>
   </div>
   <%=@exercise.note%>
</div>
<% if !@exercise.photo_file_name.nil? %>
  <canvas id="canvas" width="800" height="400"></canvas>
  <%= image_tag @exercise.photo.url, {:id=>"photo"} %>
    <script type="text/javascript">
        var canvas = new fabric.Canvas('canvas');
        var photo = document.getElementById('photo');
        var imgInstance = new fabric.Image(photo, {
            left:10,
            top:10
        });
        canvas.add(imgInstance);
    </script>
<% end %>
<div>
答案:
<% if @exercise.answerphoto_file_name.nil? %>
  <%= @exercise.answer %>
<% else %>
  <%= image_tag @exercise.answerphoto.url  %>
<% end %>
</div>
<p>
  <%= link_to '修改', edit_exercise_path(@exercise) %>
  |
  <%= link_to '答题', answer_exercise_path(@exercise) %>
  |
 <%= link_to '返回列表', exercises_path %>
</p>


