<div>
书名: <%=@exercise.book.name if @exercise.book%>,
章节: <%=@exercise.section.name if @exercise.section%><br/>
类别: <%=@exercise.qtype.name if @exercise.qtype%><br/>
题型: <%=@exercise.category.name if @exercise.category%><br/>

</div>
<%= render partial: 'show', locals: {exercise: @exercise, answer: true} %>
<p>
  <%= link_to '修改', edit_exercise_path(@exercise) %>
  |
  <%= link_to '答题', answer_exercise_path(@exercise) %>
  |
 <%= link_to '返回列表', section_exercises_path(@exercise.section) %>
</p>


