<!DOCTYPE html>
<html>
<head>
  <title>Kecheng</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "#{current_user ? 'after-' : ''}login" %>
  <%= stylesheet_link_tag "normalize" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= render partial: 'layouts/header' %>
    <div id='content'>
      <%= render partial: 'layouts/left' %>
      <%= render partial: 'layouts/right' %>
    </div>
  <% end %>
  <%= yield %>

</body>
</html>
