<!DOCTYPE html>
<html>
<head>
  <title>麦穗儿</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "#{current_user ? 'after-' : ''}login" %>
  <%= stylesheet_link_tag "normalize" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fabric", "html2canvas", "canvas2image", "base64" if need_canvas.include?(controller_name) %>
  <%= javascript_include_tag "login" if controller_name == 'sessions' && !current_user %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
  <style type="text/css">
    .exit{background: url('/assets/scircle<%= current_user.bg_num %>.png');}
    .body-bg{background: url('/assets/student-bg<%= current_user.bg_num %>.png') no-repeat;background-attachment:fixed;}
  </style>
<% end %>
<body>
  <!-- <div id='notice'><%= flash[:notice] %></div> -->
  <% if current_user %>
    <%= render 'layouts/common' %>
  <% else %>
    <div id='header'></div>
    <div id='middle' class='<%= controller_name %>'></div>
    <div class='content'>
      <%= yield %>
    </div>
    <%= render 'layouts/sections' if controller_name == 'sessions' %>
  <% end %>

</body>
</html>
