<!DOCTYPE html>
<html>
<head>
  <title>Kecheng</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "normalize" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fabric" if need_canvas.include?(controller_name) %>
  <script type="text/javascript" src="http://dev.bigsai.com:8080/ewebeditor/ewebeditor.js"></script>
</head>
  <%= csrf_meta_tags %>
</head>
<body style="margin:20px;">
<%=yield%>

</body style="margin:20px;">
</html>
